extends layout

block content
    #body
      h1 用户详情
      p
        | 用户名
        input#username.message(type="text", name="username", disabled="disabled", value=#{username})
      p
        | 学号
        input#id.message(type="text", name="id", disabled="disabled", value=#{id})
      p
        | 电话
        input#phone.message(type="text", name="phone", disabled="disabled", value=#{phone})
      p
        | 邮箱
        input#mail.message(type="text", name="mail", disabled="disabled", value=#{mail})
