extends layout

block content
    #body
      h1 用户注册
      p#msg.msg #{warning}
      form(action="http://127.0.0.1:8000/signup", method="post")
        p
          | 用户名
          input#username.input(type="text", name="username")
        p#usernameMsg.msg
        p
          | 密码
          input#password.input(type="password", name="password")
        p#passwordMsg.msg
        p
          | 确认密码
          input#passwordConfirm.input(type="password", name="passwordConfirm")
        p#passwordConfirmMsg.msg
        p
          | 学号
          input#id.input(type="text", name="id")
        p#idMsg.msg
        p
          | 电话
          input#phone.input(type="text", name="phone")
        p#phoneMsg.msg
        p
          | 邮箱
          input#mail.input(type="text", name="mail")
        p#mailMsg.msg
        #button
          p
            input#submit(type="submit", value="注册")
            input#reset(type="reset")
      p#signin
        a(href="http://127.0.0.1:8000/index") 登录
    script(src="./js/userInformationForm.js")
    script(src="./js/validator.js")
    script(src="./js/regist.js")
